header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 50px;
    margin-right: 100px;

}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 8 px 16px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    color: white;
}
nav ul li a:hover{
    border-bottom: 4px solid #FEE715;
}

.logo {
    font-size: 60px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;

}

.leftbox {
    width: 25%;
    height: auto;
    margin-top: 50px;
    position: relative;
    background-color: #101357;
    color: white;

}
.leftbox::after{
    content: '';
    position: absolute;
    background:linear-gradient(#ffffff, #5654ba,#029736, #FEE715);
    width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
    padding: 3px;

}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    
    margin: auto;
    position: relative;

}




.photo img:hover{
    
    

}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    margin-top: 25px;


}

.name {
    text-align: center;
    margin-top: 75px;

}

.aboutme {
    text-align:center;
    font-weight: bold;
    color: white;
    

}

.mainbox {
    width: 70%;
    display: block;
    height: auto;
    background-image: url(motion-6252_512.gif);
    float: right;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
}

.qoute {
    font-size: 120px;
    color:transparent;
    text-align: center;
    font-family: "Anton", sans-serif;
    -webkit-text-stroke: 2px #101820;
    
    
}
.qoute:hover{
    
}
.skills{
    position: absolute;
    left:50%;
    top: 750px;
    justify-content: center;
}
.skillbox{
    width: 1450px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    left:0px;
    top: 780px;
    margin: 30px;
}
.skill{
    text-align: center;
    top: 770px;
    position: absolute;
    margin-left: 750px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    color:white;
    -webkit-text-stroke: 2px solid black;
}
.skillicon{
    font-size: 100px;
    text-align: center;
    color: #FB4701;
}
table{
    margin: 0 auto;
    
    
}
table tr td{
   width: 250px;
   
}
#skillbox{
    
    width: 1500px;
    
    height: 200px;
}
.htmlicon{
    font-size: 100px;
    text-align: center;
    color: #FB4701;
}
.htmlicon:hover{
    transform: scale(1.2);
    
}
.cssicon{
    font-size: 100px;
    text-align: center;
    color: #016AFB;
}
.cssicon:hover{
    transform: scale(1.2);
}
.jsicon{
    font-size: 100px;
    text-align: center;
    color: #FEE715;
}
.jsicon:hover{
    transform: scale(1.2);
}
.reacticon{
    font-size: 100px;
    text-align: center;
    color: #6ebbe8;
}
.reacticon:hover{
    transform: scale(1.2);
}
.githubicon{
    font-size: 100px;
    text-align: center;
    color:gray;
}
.githubicon:hover{
    transform: scale(1.2);
}
.contact{
    position: relative;
}
.contact::after{
    content: "call: +91-86102 86752 antony.arokiadoss1@gmail.com";
    position: absolute;
    background: transparent;
    width: auto;
    height: 50px;
    top: 40px;
    left: 50%;
    translate: -50%;
    background-color: ;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    color:#101357;
    z-index: -1;
    padding: 10px;
    
}
.contact:hover::after{
    color: #101820;
    background-color:white;
    opacity: 0.7;
}
body{
    background-color:#101357;
    color: white;
}
